:root {
  --main-bg-color: #323441;
  --main-text-color: #d74850;
  --button-bg-color: #e4ddd3;
  --button-hover-color: #f6f4ea;
}
body {
  background-color: var(--main-bg-color);
}
h1 {
  color: var(--main-text-color);
}
.main_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}
.main_title {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20%;
  justify-content: center;
  align-items: center;
}
.video_container {
  display: flex;
  flex-direction: row;
  width: 106vh;
  height: 60vh;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  max-height: 720px;
  border: 1px solid black;
}
.video_container:hover {
  border-color: var(--main-text-color);
}
.play_container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  max-height: 720px;
}
.exit_container {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button {
  width: 200px;
  height: 50px;
  border-radius: 50px;
  font-size: 1.5em;
  background-color: #e4ddd3;
}
button:hover {
  background-color: #f6f4ea;
}
#video_capture {
  visibility: hidden;
}
@media (max-width: 600px) {
  .video_container {
    width: 100%;
    height: 100%;
  }
}
