<html>
  <head>
    <title>Air Drum</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/index.css') }}"
    />
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/main.js') }}"
    ></script>
  </head>
  <body onload="onLoad()">
    <div class="main_container">
      <div class="main_title">
        <h1>AIR DRUM!</h1>
      </div>
      <div class="video_container">
        <div class="play_container">
          <div>
            <button id="play_button" onclick="onPlay()">PLAY!</button>
          </div>
        </div>
        <img id="video_capture" src="{{ url_for('video_feed') }}" />
      </div>
      <div class="exit_container">
        <button id="exit_button" onclick="onExit()">EXIT</button>
      </div>
    </div>
  </body>
</html>
